In [4]:
def subtraction():
    num1 = 20
    num2 = 40
    num3 = num2-num1
    print(num3)

In [3]:
def multiplication():
    num1 = 20
    num2 = 40
    num3 = num1*num2
    print(num3)


multiplication()

800

In [6]:
def takename():
  print("what is your name?")
  name = input()
  return name
name1 = takename()
print(name1)

what is your name?
manav

In [26]:
def someFunction():
    var1 = input("type in first number")
    var2 = input("type in second number")
    result = var1 + var2
    return(result)

print(someFunction())

21

In [9]:
def someFunction(a, b):
    result = a + b
    num = 2008
    return result, num

var1 = input("input a name")
var2 = input("input another name")
transfer = someFunction(var1, var2)  
print(transfer)

('manavcodaty', 2008)

In [14]:
def num_machine(a, b):
    result = int(a) + int(b)
    result2 = result * int(b)
    result3 = result2 ** 3
    
    return result3

var1 = input("input a name")
var2 = input("input another name")
transfer = num_machine(var1, var2)  
print(transfer)

216

In [15]:
def someFunction(): 
    def some_function():
        print("hello world")
    some_function()

someFunction()

hello world

In [12]:
def multiply(num1, num2, num3=3, num4=4):
    return num1 * num2 * num3 * num4

print(multiply(1,3)) 
print(multiply(1,3,4))
print(multiply(1,2,3,4))

36
48
24

In [43]:
def names(first_name, second_name, last_name):
    return first_name + second_name + last_name


var1 = input("input first name")
var2 = input("input second name")
var3 = input("input last name")

transfer = names(last_name=var2, second_name=var1, first_name=var3)
print(transfer)

codatymanavprasad

Homework start

In [4]:
def is_even(var1):
    if num % 2  == 0:
        print("Your number is even")
    else:
        print("Your number is odd")


num = int(input("input an integer:"))
transfer  = is_even(num)

Your number is even

In [13]:
def is_positive(var1):

    if num > 0:
        print("Your number is positive")
    else:
        print("Your number is negative")


num = int(input("input an number:"))
transfer  = is_positive(num)

Your number is negative

In [18]:
def max_of_three(x, y, z):
    if x > y:
        if x > z:
            return x
        else:
            return z
    else:
        if y > z:
            return y
        else:
            return z
        

print(max_of_three(1,2,3))

3

In [3]:
def grade_converter(var1):
    if grade >= 90:
        print("You got an A")
    elif grade < 90 and grade >= 80:
        print("You got a B")
    elif grade < 80 and grade >=70:
        print("You got a C")
    elif grade < 70 and grade >=60:
        print("You got a D")
    else:
        print("You got an F")

    

grade = int(input("Please input your grade:"))
transfer = grade_converter(grade)

You got an A

In [4]:
def is_triangle(var1, var2, var3):
    if a + b > c or a + c > b or c + b > a:
        print("These number make up a triangle")
    else:
        print("These numbers do not make up a triangle")



a = int(input("Please input first number:"))
b = int(input("Please input second number:"))
c = int(input("Please input third number:"))


transfer = is_triangle(a,b,c)

These number make up a triangle

In [8]:
def is_leap_year(var1):
    if year % 4 == 0 or year % 400 == 0:
        print("Your year is a leap year")
    else:
        print("Your year is not a leap year")


year = int(input("Please input year:"))
transfer = is_leap_year(year)

Your year is not a leap year

In [16]:
def is_palindrome(var1):
    if len(word) >= 5:
        if word[0] == word[4] and word[1] == word[3]:
            print("Your word is a palindrome")
        else:
            print("Your word is not a palindrome")
    else:
        print("Your word is not a palindrome")


word = input("Please enter your word")

trasnfer = is_palindrome(word)

Your word is a palindrome

Homework end

In [2]:
a = input("Please input a character")
ord(a)
print(bin(ord(a)))
print(hex(ord(a)))
print(oct(ord(a)))

0b1101101
0x6d
0o155

In [8]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)


num = int(input("Please input a number"))
print(factorial(num))

6

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

In [1]:
print(sum(range(0,101,1)))

5050

In [ ]:
sum_ = 0
for i in range(0,101,1):
    sum_ += i

print(sum_)

In [1]:
multiply = 1
for i in range(0,41,2):
    i *= multiply

print(multiply)

1

         *
        **
       ***
      ****  
     *****
    ******

In [6]:
n = int(input("Enter number of rows"))
for row in range(1, n+1, 1):
	for star in range(0,row):
		print("*",end="")
	print()

*
**
***
****
*****
******

In [4]:
n = int(input("Enter number of rows"))
for row in range(1, n+1, 1):
	for space in range(0,n-row,1):
		print(" ", end="")
	for star in range(0,row):
		print("*",end="")
	print()

     *
    **
   ***
  ****
 *****
******

In [5]:
n = int(input("Enter number of rows"))
for row in range(1, n+1, 1):
	for space in range(0,n-row,1):
		print("*", end="")
	for star in range(0,row):
		print(" ",end="")
	print()

*****
****
***
**
*

In [2]:
n = int(input("Enter number of rows"))
for row in range(1, n+1, 1):
	for space in range(0,n-row,1):
		print("*", end="")
	for star in range(0,row):
		print(" ",end="")
	print()

*****
****
***
**
*

In [1]:
n = int(input("Enter number of rows"))
for row in range(1, n+1, 1):
	for star in range(0,row):
		print("-",end="")
	print()

-
--
---
----
-----
------

In [17]:
n = int(input("Enter number of rows"))
for row in range(1, n+1, 1):
	for space in range(0,n-row,1):
		print(" ", end="  ")
	for star in range(0,row):
		print("*",end="  ")
	print()

               *
            *  *
         *  *  *
      *  *  *  *
   *  *  *  *  *
*  *  *  *  *  *

In [31]:
def print_stars(n): # n=6
   for row in range(1, n+1, 1):  # 1 to 7 -> 1, [2], 3, 4, 5, 6
      # row -> 2
      for space in range(0,n-row,1): # 4 spaces
         print(" ", end="  ")
      for star in range(0,(row+(row-1))):  # row = 2, row - 1 -> 1, so row + (row - 1) -> 3, range(0, 3)
         print("*",end="  ") # only 3 star
      print()
1

def main():
   n = int(input("Enter number of rows"))
   print_stars(n)


main()

            *
         *  *  *
      *  *  *  *  *
   *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *

In [15]:
main_string = input("Please input first string")
sub_string = input("Please input second string")

main_string2 = main_string.lower()
sub_string2 = sub_string.lower()

counter = 0

for i in main_string2:
    if i == sub_string2:
        counter = counter + 1
print(counter)

2

In [1]:
main_string = input("Please input first string")
sub_string = input("Please input second string")

main_string2 = main_string.lower()
sub_string2 = sub_string.lower()

s = ""
for i in main_string2:
    if i != sub_string2:
        s += i
print(s)

mnv

In [5]:
for i in range(2, 22, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)

num = int(input("Enter a number: "))
print("The factorial of", num, "is", factorial(num))

The factorial of 5 is 120

In [2]:
#2 variables 
#last is 0
#second last 1 
# for loop for 
#print last second last+last
#temp = last
#last = second last + last

def generate_fibonacci_sequence(n):
    fibonacci_sequence = [0, 1]

    for _ in range(2, n):
        fibonacci_sequence.append(fibonacci_sequence[-1] + fibonacci_sequence[-2])

    return fibonacci_sequence

N = int(input("Enter the number of Fibonacci numbers to generate: "))

fib_sequence = generate_fibonacci_sequence(N)
print(fib_sequence)

[0, 1, 1, 2, 3]

In [ ]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, number):
        if number % i == 0:
            return False
    return True

start = int(input("Enter the starting number: "))
end = int(input("Enter the ending number: "))

print("Prime numbers in the range {} to {}:".format(start, end))
for num in range(start, end + 1):
    if is_prime(num):
        print(num, end=" ")

In [3]:
number = int(input("Enter the number for the multiplication table: "))
range_start = int(input("Enter the starting range: "))
range_end = int(input("Enter the ending range: "))

print(f"Multiplication table for {number} from {range_start} to {range_end}:")
for i in range(range_start, range_end + 1):
    result = number * i
    print(f"{number} x {i} = {result}")

Multiplication table for 5 from 20 to 40:
5 x 20 = 100
5 x 21 = 105
5 x 22 = 110
5 x 23 = 115
5 x 24 = 120
5 x 25 = 125
5 x 26 = 130
5 x 27 = 135
5 x 28 = 140
5 x 29 = 145
5 x 30 = 150
5 x 31 = 155
5 x 32 = 160
5 x 33 = 165
5 x 34 = 170
5 x 35 = 175
5 x 36 = 180
5 x 37 = 185
5 x 38 = 190
5 x 39 = 195
5 x 40 = 200

In [4]:
input_string = input("Enter a string: ")
reversed_string = ""

for char in input_string:
    reversed_string = char + reversed_string

print("Reversed string:", reversed_string)

Reversed string: olleh